/***** Reset *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/***** Styles *****/
html { 
	width: 100%;
	-webkit-font-smoothing: antialiased;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
p {
	color: #fff;
	padding: 0;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
}
p.rolling {
	font-size: 19px;
	font-weight: 200;
	margin: 80px 0 40px;
}
p.description {
	font-size: 19px;
	font-weight: normal;
	margin: 40px 0 40px;
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
p.description:hover, p.description:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
p b {
	font-weight: bold;
}
a {
	color: #fff;
	text-decoration: underline;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
.content {
	max-width: 480px;
	padding: 0 20px;
	display: block;
	margin: 10% auto 0;
}
.logo h1 a {
	width: 64px;
	height: 62px;
	display: block;
	background: url('/img/logo.png') top center no-repeat;
	text-indent: -9999px;
	padding: 0;
	margin: 0 auto;
	border: none;
	text-align: center;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow:hidden;
}
.logo h1 a:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
ul {
	display: block;
}
ul li {
	display: inline-block;
	margin: 0 10px;
}
ul li a {
	opacity: 0.5;
}
ul li a:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
}
.content ul li a {
	width: 33px;
	height: 33px;
	display: block;
	text-indent: -9999px;
}
ul li.aboutme a {
	background: transparent url('/img/aboutme_icn.png') top center no-repeat;
}
ul li.resume a {
	background: transparent url('/img/resume_icn.png') top center no-repeat;
}
ul li.email a {
	background: transparent url('/img/email_icn.png') top center no-repeat;
}
.lang {
	max-width: 480px;
	padding: 0 10px;
	display: block;
	margin: 10% auto 0;
	bottom: 0;
	text-align: right
}
.lang ul li a {
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -9999px;
}
ul li.zh-lang a {
	background: transparent url('/img/zh.png') top center no-repeat;
}
ul li.en-lang a {
	background: transparent url('/img/en.png') top center no-repeat;
}
ul li.de-lang a {
	background: transparent url('/img/de.png') top center no-repeat;
}
/* ---
.vegas-loading {
	display: none;
}
.vegas-overlay {
	background: transparent url('http://jonphillips.ca/images/overlay.png');
	opacity: 0.5;
	z-index: -1;
}
.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index: -2;
}
.bsap {
	display:none;
}
--- */
p.rolling #la {
	font-family: "Noto Sans";
}
p.rolling #sc {
	font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
p.rolling #jp {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
p.description#la {
	font-family: Coda;
}
p.description#sc {
	font-family: Source-Han-Light127431;
}